SESSION_SECRET=feQ3FTRvS86tXlYOFfobkoE8kK7VU3W8hBc6T4RWfpOEgKkEKFnKFfeMv2G27p2cc1dxvnqnWqrXz3pEHERV7A==
DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/xxxx
SMTP_EMAIL=xxx@gmail.com
SMTP_PASSWORD=wvakiyxbaaaskqwnxsg
DOMAIN="http://localhost:5000"
PORT=5000
JWT_SECRET=feQ3FTRvS86tXlYOFfobkosdfsdfE8kK7VU3W8hBc6T4RWfpOEgKkEKFnKFfeMv2G27p2cc1dxvnqnWqrXz3pEHERV7A==sd
RAZORPAY_KEY_ID=rzp_test_RIwsdfsderetyhjkgjhfgfsdfsrtCmkYtuZj1
RAZORPAY_KEY_SECRET=ZuRHTNrYAV14bpr17sfdgdhfggfzXliYBg
CONTACT_FORM_RECIPIENT_EMAIL=example@xxx.com